/* BEGIN GLOBALS */

:root {
  --background-color: #0D0D0D;
  --section-bg-color: #F2EADF;
  --primary-text-color: #0D0D0D;
  --secondary-text-color: #403732;
  --complementary-color: #8C7D70;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    display: block;
  }

body {
  background-color: var(--background-color);
  margin-top: 15px;
  min-width: 255px;
  overflow-x: auto;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
  border: none;
  background: transparent;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

.empty {
  display: none;
}

/* END GLOBALS */
/* BEGIN SECTION-LEVEL RULES */

section {
  border: var(--highlight-color) solid 2px;
  min-height: 250px;
  border-radius: 50px;
  width: 100%;
  height: fit-content;
  background-color: var(--section-bg-color);
  background: linear-gradient(180deg,
    var(--background-color) 0%,
    var(--section-bg-color) 2%,
    var(--section-bg-color) 50%,
    var(--section-bg-color) 98%,
    var(--background-color) 100%);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.profile-section {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  min-height: 500px;
  justify-self: center;
}

/* END SECTION-LEVEL RULES */

/* START WELCOME SECTION RULES */

.main-title {
  padding: 10px 0 20px 25px;
  font-size: 32px;
  color: var(--secondary-text-color);
}

.main-subtitle {
  padding-left: 10px;
  color: var(--secondary-text-color);
}

/* END WELCOME SECTION RULES */

/* START PROJECT SECTION RULES */

.projects-title {
  text-align: center;
  padding-top: 15px;
  text-decoration: underline;
  color: var(--background-color);
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 20px 0;
  height: fit-content;
}

.tile-container a {
  text-decoration: none;
  max-width: 75px;
  border-radius: 8px;
  border: solid transparent 2px;
}

.tile-container a:hover .project-tile {
  background: linear-gradient(45deg, #b584f0, #F22998, #b584f0);
  cursor: pointer;
}

.project-image {
  position: absolute;
  height: 55px;
  width: 55px;
  background-size: 100% 100%;
}

.freeCodeAcademy-projects > .project-image {
  border: 0;
}

.project-image img {
  opacity: 0;
}

.project-tile {
  width: 75px;
  height: 58px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background: linear-gradient(45deg, #9c57f1, #F22998, #9c57f1);
  border: var(--complementary-color) solid 1px;
}


.project-title {
  justify-self: end;
  text-align: center;
  font-size: 10px;
}

.projects a {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* END PROJECT SECTION RULES */

/* START BIO SECTION RULES */


.profile-box {
  margin: 0 auto;
  height: fit-content;
  width: 85%;
  display: grid;
  grid-template-columns: 65% 35% ;
  grid-template-rows: fit-content 20% 20% 25%; 
  gap: 5px;
  padding-bottom: 35px;
}


.bio {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 16px;
  margin: 20px;
  justify-self: stretch;
  padding-top: 20px;
}

.img-box {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio h3 {
  font-size: 22px;
  color: var(--background-color);
  padding-left: 5px;
}

.my-image {
  margin: 5px;
  max-height: 270px;
  max-width: 270px;
  width: 35vw;
  height: 35vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-page-footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  width: 87%;
}

.profile-page-footer h1 {
  font-size: 22px;
  color: var(--secondary-text-color);
  text-align: left;
}

.profile-page-footer h3 {
  font-size: 18px;
  color: var(--secondary-text-color);
  text-align: right;
  padding-bottom: 10px;
}

.contact-box-array {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-evenly;
  height: 35px;
}

.contact-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
  height: 35px;
}

.contact-box {
  transition: all 0.2s;
  padding: 0 5px;
  border-radius: 5px;
  border: solid transparent 2px;
}

.contact-box:hover {
  background-color: var(--secondary-text-color);
  border: solid white 2px;
}

.contact-box:hover a {
  color: var(--section-bg-color);
}

.contact-box:hover .contact-icon {
  color: var(--section-bg-color);
}

.contact-name {
  margin-left: 4px;
  margin-right: 2px;
}

.contact-icon {
  font-size: 24px;
  color: var(--background-color);
}

/* END BIO SECTION RULES */
/* START CREDENTIALS SECTION RULES */

.credentials-section {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: fit-content;
}

.credentials-box  {
  margin: 10px 50px;
}

.credentials-title {
  font-size: 18px;
  text-align: center;
  padding-top: 2vh;
  color: var(--background-color);
  text-decoration: underline;
}

.credential {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 50% 50%;
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: var(--highlight-color) solid 2px;
}

.credential:first-of-type {
  padding-top: 15px;
}

.credential:last-of-type {
  border: none;
  padding-bottom: 15px;
}

.cred-institution {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 12px;
  padding-left: 10px;
  font-style: italic;
  text-decoration: underline;
}

.cred-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 14px;
  padding-left: 5px;
}

.cred-date {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 12px;
  padding-right: 5px;
  text-align: right;
  align-self: center;
}
.cred-img img {
  width: 48%;
  min-width: 150px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* END CREDENTIALS SECTION RULES */
/* START AWARDS SECTION RULES */

.awards {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.cred-img {
  width: 98%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.cred-img:last-of-type {
  padding-bottom: 30px;
}

.NCAEBadges {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.badge-container img {
  width: 80px;
  margin: 5px 0;
  border-radius: 100px;
}

div > a > img:hover {
  opacity: 69%;
}

.awards h3 {
  font-size: 18px;
  width: 40%;
  margin:35px auto;
  color: var(--background-color);
  text-decoration: underline;
  text-align: center;
}

.awards h3:last-of-type {
  padding-top: 20px;
}





/* END AWARDS SECTION RULES */
/* START MEDIA QUERIES */

@media only screen and (max-width: 1200px) {

  .button-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-name {
    display: none;
  }

  .contact-icon {
    font-size: 20px;
  }

  .navbar ul li {
    font-size: 11px;
  }

  .bio {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .img-box {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .profile-page-footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: start;
    margin-top: 30px;
  }

  .contact-box-array {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: start;
    flex-direction: row;
  }
}

@media only screen and (max-width: 650px) {
  
  .main {
    display: block;
    width: 97%;
  }

  .projects {
    height: fit-content;
  }

  .NCAEBadges {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  }

  .badge-container img {
    width: 80px;
  }

  .credentials-box {
    width: 90%;
    margin: 0 auto;
  }

  .cred-institution {
    font-size: 8px;
  }

  .cred-img img {
    width: 97%;
  }

  .cred-title {
    font-size: 10px;
  }

  .cred-date {
    font-size: 10px;
  }

  .main-title {
    font-size: 22px;
    padding-left: 10px;
  }

  .projects-title {
    font-size: 20px;
  }

  section {
    min-height: 200px;
    margin: 15px auto
  }


  .tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4%;
    width: 100%;
    max-height: none;
  }

  .tile-container a {
    text-decoration: none;
    color: var(--background-color);
    max-width: none;
  }
  
  .project-image {
    background-size: 100% 100%;
  }
  
  .project-tile {
    width: 106px;
    height: 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: linear-gradient(45deg, #9c57f1, #F22998, #9c57f1);
    border: var(--secondary-color) solid 1px;
  }

  .project-title {
    max-width: 106px;
  }
  
}

@media only screen and (max-width: 450px) {
  
  .bio p {
    font-size: 13px;
  }

  .bio h3 {
    font-size: 15px;
  }

  .profile-box {
    grid-template-columns: 100%;
  }

  .contact-box-array {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
  }

  .profile-page-footer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .img-box {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    max-width: 200px;
    justify-self: center;
  }

  .NCAEBadges {
    width: 90%;
    flex-wrap: wrap;
    }
  
  .badge-container img {
    width: 60px;
  }
}

@media only screen and (max-width: 380px) {

  .profile-box {
    width: 100%;
  }

  .img-box {
    grid-row: 4 / 5;
  }

  .contact-box-array {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 0;
  }

  .profile-page-footer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-top: 0;
    margin-bottom: 0;
  }

  .my-image {
    margin-bottom: 15px;
  }
}
/* END MEDIA QUERIES */



/* Code for the future:

ul {
  list-style-type: none;
}

.navbar {
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar ul {
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: var(--primary-text-color);
  border-radius: 5px;
  padding: 2px 5px;
  transition: background-color 0.3s, transform 0.3s; /Add transition for smooth effect/
  border: 2px solid transparent;
}

.nav-link:hover {
  background-color: var(--hover-bg-color); 
  transform: scale(1.1); 
  border: ridge var(--highlight-color) 2px;
}


.all-projects-button {
  margin-top: 20px;
  height: 6vh;
  width: 175px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #f11a91 solid 4px;
  border-radius: 5px;
}

.all-projects-button:hover {
  background: linear-gradient(0deg, #F22998, #f173b9);
  cursor: pointer;
}

.button-text {
  font-size: 16px;
}

*/