:root {
  --background-color: #100E40;
  --section-bg-color: #5B44F2;
  --primary-text-color: #B0B0B0;
  --secondary-text-color: #B0B0B0;
  --accent-color: #F22998;
  --highlight-color: #04D960;
  --hover-bg-color: #1C1973;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    display: block;
  }

body {
  background-color: var(--background-color);
  margin-top: 11vh;
}

ul {
  list-style-type: none;
}

.navbar {
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar ul {
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: var(--primary-text-color);
  border-radius: 5px;
  padding: 2px 5px;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
  border: 2px solid transparent;
}

.nav-link:hover {
  background-color: var(--hover-bg-color); 
  transform: scale(1.1); 
  border: ridge var(--highlight-color) 2px;
}

section {
  border: var(--highlight-color) solid 2px;
  min-height: 90vh;
  border-radius: 5%;
  margin: 20px auto;
  height: 85vh;
  width: 75%;
  max-width: 1000px;
  max-height: 700px;
  background-color: var(--section-bg-color);
  background: linear-gradient(180deg,
    var(--section-bg-color) 0%,
    var(--section-bg-color) 97%,
    var(--background-color) 100%);
}

.welcome-section {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  padding: 10px 0 20px 25px;
  font-size: 32px;
  color: var(--background-color);
}

.main-subtitle {
  padding-left: 10px;
  color: var(--secondary-text-color);
}

.projects {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projects-title {
  text-align: center;
  padding-top: 2vh;
  text-decoration: underline;
  color: var(--background-color);
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4%;
  width: 95%;
  height: 70vh;
}

.tile-container a {
  text-decoration: none;
  color: var(--background-color);
  height: 170px;
  margin: 5px;
}

.project-image {
  width: 85%;
  height: 85%;
  margin-top: 2%;
  background-size: 100% 100%;
}

.freeCodeAcademy-projects > .project-image {
  border: 0;
}

.project-image img {
  width: 95%;
  height: 95%;
  opacity: 0;
}

.project-tile {
  width: 200px;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(45deg, #9c57f1, #F22998, #9c57f1);
  border: var(--secondary-color) solid 1px;
}

.project-tile:hover {
  background: linear-gradient(45deg, #b584f0, #F22998, #b584f0);
  cursor: pointer;
}

.empty {
  display: none;
}

.project-title {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
}

.all-projects-button {
  margin-top: 20px;
  height: 6vh;
  width: 175px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #f11a91 solid 4px;
  border-radius: 5px;
}

.all-projects-button:hover {
  background: linear-gradient(0deg, #F22998, #f173b9);
  cursor: pointer;
}

.projects a {
  text-decoration: none;
  color: var(--background-color);
}


.button-text {
  font-size: 16px;
}

.profile-box {
  margin: 20px auto;
  max-height: 80vh;
  width: 80%;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 5% 50% 40% 5%;
  gap: 5px;
  align-items: start;
  overflow-y: hidden;
  overflow-x: hidden;
}


.bio {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 12px;
  margin: 5%;
  justify-self: stretch;
  padding-top: 20px;
}

.img-box {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio h3 {
  font-size: 22px;
  color: var(--background-color);
  padding-left: 5px;
}

.bio p {
  overflow-y: scroll;
}

.my-image {
  margin: 30px auto;
  max-height: 270px;
  max-width: 270px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-page-footer {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
}

.profile-page-footer h1 {
  font-size: 22px;
  color: var(--background-color);
  text-align: left;
}

.profile-page-footer h3 {
  font-size: 18px;
  color: var(--background-color);
  text-align: right;
  padding-bottom: 10px;
}

.contact-box-array {
  grid-column: 2 / 4;
  width: 50%;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.contact-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
}

.contact-box {
  transition: all 0.2s;
  padding: 0 5px;
  border-radius: 5px;
  border: solid transparent 2px;
}

.contact-box:hover {
  background-color: #131313;
  color: var(--primary-text-color);
  border: solid white 2px;
}

.contact-box a:hover {
  color: var(--primary-text-color);
}

.contact-box:hover .contact-icon {
  color: var(--primary-text-color);
}

.contact-name {
  margin-left: 4px;
  margin-right: 2px;
}

.contact-icon {
  font-size: 24px;
  color: var(--background-color);
}


@media only screen and (max-width: 1200px) {

  .button-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1040px) {
  .profile-page-footer {
    grid-column: 3 / 4;
    align-self: start;
  }

  .contact-box-array {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: center;
  }
  .profile-page-footer h1 {
    font-size: 14px;
  }

  .profile-page-footer h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 830px) {
  .contact-box-array { 
    grid-row: 2 / 3;
    justify-self: start;
    align-self: end;
    padding-top: 80px;
  }
  .profile-box {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .profile-page-footer h1 {
    font-size: 14px;
  }

  .profile-page-footer h3 {
    font-size: 12px;
  }

  .tile-container {
    overflow-y: auto;
  }

  .tile-container a {
    margin-bottom: 5px;
  }

  .profile-page-footer {
    grid-row: 1 / 3;
    align-self: center;
    padding-top: 40px;
  }

  .contact-box-array {
    grid-row: 2 / 3;
    align-self: start;
    justify-self: end;
    flex-direction: column;
    align-items: end;
    padding-bottom: 40px;
  }
}

@media only screen and (max-height: 550px) and (min-width: 1000px) {
  .profile-page-footer {
    grid-column: 3 / 4;
    align-self: start;
  }

  .contact-box-array {
    grid-row: 2 / 3;
    align-self: end;
  }
  .profile-page-footer h1 {
    font-size: 14px;
  }

  .profile-page-footer h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-name {
    display: none;
  }

  .contact-icon {
    font-size: 20px;
  }

  .navbar ul li {
    font-size: 11px;
  }

  .profile-page-footer h1 {
    font-size: 14px;
  }

  .profile-page-footer h3 {
    font-size: 12px;
  }

  .profile-box {
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 5% 50% 40% 5%;
  }

  .img-box {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .my-image {
    max-height: 170px;
    max-width: 170px;
  }

  .bio {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin-top: 0;
    padding-top: 0;
  }

  .profile-page-footer {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 20%;
    padding-right: 15px;
    padding-bottom: 50px;
  }

  .contact-box-array {
    flex-direction: row;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    margin: 0;
    padding-bottom: 30px;
  }
}
