:root {
  --background-color: #100E40;
  --section-bg-color: #5B44F2;
  --primary-text-color: #B0B0B0;
  --secondary-text-color: #B0B0B0;
  --accent-color: #F22998;
  --highlight-color: #04D960;
  --hover-bg-color: #333333;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    display: border-box;
  }

body {
  background-color: var(--background-color);
  margin-top: 11vh;
}

ul {
  list-style-type: none;
}

.navbar {
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar ul {
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: var(--primary-text-color);
  transition: background-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.nav-link:hover {
  background-color: var(--hover-bg-color); 
  transform: scale(1.1); 
  border-radius: 5px;
}

section {
  border: var(--highlight-color) solid 2px;
  border-radius: 5%;
  margin: 20px auto;
  height: 85vh;
  background-color: var(--section-bg-color);
  background: linear-gradient(180deg,
    var(--section-bg-color) 0%,
    var(--section-bg-color) 97%,
    var(--background-color) 100%);
}

.welcome-section {
  width: 75%;
  max-width: 1000px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  padding: 10px 0 20px 25px;
  font-size: 32px;
  color: var(--background-color);
}

.main-subtitle {
  padding-left: 10px;
  color: var(--secondary-text-color);
}

.projects {
  padding-top: 20px;
  width: 75%;
  height: 100%;
  max-width: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.projects-title {
  text-align: center;
  padding-top: 2vh;
  text-decoration: underline;
  color: var(--background-color);
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4%;
  width: 95%;
}

.tile-container a {
  text-decoration: none;
  color: var(--background-color);
  height: 170px;
  margin: 5px;
}

.project-image {
  width: 85%;
  height: 85%;
  margin-top: 2%;
  background-size: 100% 100%;
}

.freeCodeAcademy-projects > .project-image {
  border: 0;
}

.project-image img {
  width: 95%;
  height: 95%;
  opacity: 0;
}

.project-tile {
  width: 200px;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(45deg, #9c57f1, #F22998, #9c57f1);
  border: var(--secondary-color) solid 1px;
}

.project-tile:hover {
  background: linear-gradient(45deg, #b584f0, #F22998, #b584f0);
  cursor: pointer;
}

.project-tile.empty {
  display: none;
}

.project-title {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
}

.all-projects-button {
  margin-top: 20px;
  height: 6vh;
  width: 175px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #f11a91 solid 4px;
  border-radius: 5px;
}

.all-projects-button:hover {
  background: linear-gradient(0deg, #F22998, #f173b9);
  cursor: pointer;
}

.projects a {
  text-decoration: none;
  color: var(--background-color);
}


.button-text {
  font-size: 16px;
}

.profile-section {
  width: 75%;
  max-width: 1000px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-page-header {
  margin: 0 auto;
  width: 70%;
}

.profile-page-header h1 {
  font-size: 22px;
  color: var(--background-color);
  text-align: left;
}

.profile-page-header h3 {
  font-size: 18px;
  color: var(--background-color);
  text-align: right;
  padding-bottom: 10px;
}

.contact-box-array {
  width: 50%;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.contact-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
}

.contact-box {
  transition: all 0.2s;
  padding: 0 5px;
}

.contact-box:hover {
  background-color: #131313;
  border-radius: 5px;
}

.contact-box a:hover {
  color: var(--primary-text-color);
}

.contact-box a:hover .contact-icon {
  color: var(--primary-text-color);
}

.contact-name {
  margin-left: 4px;
  margin-right: 2px;
}

.contact-icon {
  font-size: 24px;
  color: var(--background-color);
}


@media only screen and (max-width: 1200px) {

  .button-text {
    font-size: 12px;
  }
}


@media only screen and (max-width: 845px) {
  h1 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .profile-page-header h1 {
    font-size: 16px;
  }

  .profile-page-header h3 {
    font-size: 14px;
  }

  .tile-container {
    overflow-y: auto;
  }

  .tile-container a {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-name {
    display: none;
  }

  .contact-icon {
    font-size: 20px;
  }

  .navbar ul li {
    font-size: 11px;
  }

  .tile-container {
    height: 300px;
  }

  .profile-page-header h1 {
    font-size: 14px;
  }

  .profile-page-header h3 {
    font-size: 12px;
  }

}

